ul.tree-view-root,.tree-view-node > ul{
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	left:10px;
	padding-top:5px;
	
	}
ul.tree-view-root li,.tree-view-node > ul li{
	margin-bottom:5px;
	}

ul.tree-view-root label,.tree-view-node > ul label{
	display:inline-block;
	vertical-align:middle;
	margin-bottom:0;
	line-height:10px;
	color:#000}
ul.tree-view-root input[type=checkbox],.tree-view-node > ul input[type=checkbox]{
	vertical-align:middle
	}
ul.tree-view-root span,.tree-view-node > ul span{
	vertical-align:bottom;
	position:relative;
	top:3px}
ul.tree-view-root .tree-view-node > ul{
	display:none
	}
ul.tree-view-root .tree-view-node.open > ul{
	display:block
	}
ul.tree-view-root .tree-view-leaf{
	margin-left:20px
	}
